body {
    background-image: url("../rsschool-cv/assets/background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 350px;
    width: 40em;
  
}